html, body {
    font-size: 20px;
    background-color: #f2ecce;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
}

h1, h2 {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    word-spacing: .5em;
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    word-spacing: .2em;
    margin: 0;
    text-align: left;
    padding-top: 15px;
}

h3 {
    font-weight: 400;
    font-size: 24px;
    word-spacing: .2em;
    margin: 0;
    text-align: left;
    padding-top: 15px;
}

ul {
    list-style-type: none;
    max-width: 0;
    padding: 0;
    width: 25%;
    background-color: #68A629;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #F2ECCE;
    padding: 8px 16px;
    text-emphasis: none;
}

li a.active {
    background-color: #68A629;
    color: #F2E085;
}

li a:hover:not(.active) {
    background-color: #2C5916;
    color: #F2ECCE;
}


