html, body {
    
    background-color: #F2ECCE;
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 12px;
}

#header {
    background-color:#2C5916;
    margin: 5px;
    height: 90px;
    border-radius: 5px;
}

#navbar ul {
    padding: 5px;
    list-style: none;
    text-align: center;
    background-color: #2C5916;
    margin: 5px;
    border-radius: 5px;
}


#navbar ul li {
    display: inline;
    font-weight: bold;
}

#navbar ul li a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: .2em 2em;
    color: #2C5910;
    background-color: #D3D92B;
    border-radius: 50em;
}

#navbar ul li a:hover {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    padding: .2em 2em;
    color: #D3D92B;
    background-color: #68a629;
    border-radius: 50em;
}


.main {
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 320px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}

.sidebar {
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    font-size: 95%;
    float: right;
    width: 260px;
}









