html, body {
    font-size: 20px;
    background-color: #f2ecce;
}

p{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4em;
}

h1, h2 {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    word-spacing: .5em;
    margin-left: 120px;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    word-spacing: .2em;
    margin-left: 120px;
    text-align: left;
    padding-top: 15px;
}

h3 {
    font-weight: 300;
    font-size: 24px;
    word-spacing: .2em;
    margin: 0;
    text-align: left;
    padding-top: 15px;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2C5916;
    overflow-x: hidden;
    padding-top: 50px;
}

/* The navigating menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #F2E085;
    display: block;
}

/* When you mouse over the navigating link, change their color */
.sidenav a:hover {
    color: #68A629;
}

/* Style page content */
.main {
    margin-left: 120px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


